
  .notmainbox {
    margin: auto;
    height: 400px;
    width: 400px;
    position: relative;
    
  }
  
    .noterr {
      color: goldenrod;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: goldenrod;
  }
  
   .noterr2 {
      color: goldenrod;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .notmsg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  .nota {
    text-decoration: none;
    color:goldenrod;
  }
  
  .nota:hover {
    text-decoration: underline;
  }