.NavbarItems {
  background: linear-gradient(
    90deg,
    rgba(252, 194, 1, 0.8) 0%,
    rgba(198, 147, 32, 0.8) 100%
  );
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
  box-sizing: border-box;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.nav-menu {
  display: flex;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  margin-right: 2rem;
}

.nav-links {
  background-color: #000;
  color: white;
  text-decoration: none;
  font-weight: 900;
  padding: 1rem 1rem;
  border-radius: 6rem;
  box-sizing: border-box;
}

.nav-links:hover {
  background-color: rgba(198, 147, 32, 0.8);
  border-radius: 6rem;
  transition: all 0.2s ease-out;
}
.fa-bars {
  color: #fff;
  font-size: 2.5rem;
}
.nav-links-mobile {
  display: none;
}
.menu-icon {
  display: none;
}
.SB {
  margin-right: 0.5rem;
  border-radius: 4rem;
  padding: 0.5rem 0.5rem;
}
.SF {
  overflow: hidden;
  display: inline-block;
  width: 35rem;
}
.SB-mobile {
  display: none;
}
.btn-mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    width: auto;
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease-out;
    box-sizing: border-box;
  }

  /* conflict
  .nav-menu > li {
    height: 30px;
    margin-bottom: 5%;
    width: 100%;
  }
  */

  .nav-menu.active {
    background: rgba(198, 147, 32, 0.8);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: auto;
  }
  .nav-links {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.8rem;
    padding: 2rem;
    width: 40%;
    display: block;
    position: relative;
    transform: translateY(4rem);
  }
  .nav-links:hover {
    background-color: rgba(252, 194, 1, 0.8);
    border-radius: 6rem;
  }
  .navbar-logo {
    position: absolute;
    top: 0.5rem;
    left: -2rem;
    font-size: 2rem;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    align-self: end;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1rem;
    cursor: pointer;
  }
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .SB {
    display: none;
  }
  .nav-list {
    margin-bottom: 1rem;
    height: 9rem;
  }
  .SF-mobile {
    display: block;
  }
  .SB-mobile {
    margin-right: 0.5rem;
    border-radius: 4rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: inline-block;
  }
  .btn-mobile {
    display: inline-block;
  }
  .btn {
    display: none;
  }
}
