body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Start dashboard*/
.dashboard [class^="col-"]:not(:last-child) {
  margin-right: 0 !important;
}
.dashboard [class^="col-"] {
  float: none !important;
}

@media screen and (max-width: 960px) {
  .dashboard Button {
    display: inline !important;
  }
  .dashboard td:last-child {
    display: flex !important;
  }
}

.dashboard {
  padding: 0;
}
/*End dashboard*/

/*Start About*/
.about {
  background-color: #f7f7f7;
}
/*End About*/
html,
body {
  font-size: 13px;
  font-family: "Poppins", "PS Regular", sans-serif !important;
  height: 100%;

  /* overflow-y: scroll; */
  /* -webkit-font-smoothing: antialiased; */
}
