.modal-header {
  display: block;
  padding: 0px;
  position: absolute;
  overflow: hidden;
}
.modal-header:hover {
  background-color: blanchedalmond;
}
.modal-content {
  background-image: linear-gradient(
    to right,
    rgba(252, 194, 1, 0.8) 0%,
    rgba(58, 57, 56, 0.8) 100%
  );
}
.modal-header .close {
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#titlee {
  position: relative;
  font-weight: lighter;
  font-size: 3rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(58, 57, 56, 0.8) 0%,
    rgba(252, 194, 1, 0.8) 100%
  );
  display: inline-block;
  color: transparent;
  margin: auto;
}
.main__card {
  width: 36rem;
  height: 36rem;
}

#boxes {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}
.div__boxes {
  float: left;
  margin: 0;
}
.heading-home {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInbottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(58, 57, 56, 0.8) 0%,
    rgba(252, 194, 1, 0.8) 100%
  );

  color: transparent;
}
.heading-home-2 {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInbottom;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: ease-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(58, 57, 56, 0.8) 0%,
    rgba(252, 194, 1, 0.8) 100%
  );

  color: transparent;
}
.heading-home-3 {
  display: block;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInbottom;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-timing-function: ease-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(58, 57, 56, 0.8) 0%,
    rgba(252, 194, 1, 0.8) 100%
  );

  color: transparent;
}
.header-home {
  height: 95vh;

  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header-home-2 {
  height: 95vh;

  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
  position: relative;
}
.header-home-3 {
  height: 95vh;

  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  position: relative;
}
.sr-only {
  background-color: goldenrod;
}

.popover > h3 {
  background-color: rgb(255, 226, 153);
}

.item {
  width: auto;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: 300;
  line-height: 1.7em;
}
.card-img-top {
  border: 1px solid goldenrod;
  border-bottom: none;
  box-shadow: 2px 2px 10px goldenrod;
  width: 36rem;
  height: 36rem;
}
.card {
  width: 100%;
  height: 100%;
  border-top: none;
  box-shadow: 2px 2px 10px goldenrod;
  border: 1px solid goldenrod;
}

#card--btn {
  padding: 0.2rem 0.4rem;

  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-color: goldenrod;
  background: rgb(255, 242, 209);
}

#img:hover {
  opacity: 0.7;
}

.body {
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: auto;
}

.main {
  display: grid;
  width: 60%;
  margin: auto;
  grid-template-columns: auto auto;
  gap: 3rem;
  height: auto;
  padding-bottom: 1%;
  padding-top: 1%;
}

.pagination {
  justify-self: center;
}

.pagination > li {
  font-size: 0.9rem;
  margin: 0.5rem;

  cursor: pointer;
}
.pagination > li > a:active {
  color: goldenrod;
}

.pagination > li > a:visited {
  background-color: goldenrod;
  text-decoration: underline;
}
.img11 {
  width: 85%;
  height: 400px;
  margin: 2% auto;
}

@media screen and (max-width: 1150px) {
  .main {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
  }
  .modal-header .close {
    padding: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }
  .header-home {
    height: 45vh;

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
  }
  .header-home-2 {
    height: 45vh;

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    position: relative;
  }
  .header-home-3 {
    height: 45vh;

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    position: relative;
  }
  .heading-home {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInbottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      rgba(58, 57, 56, 0.8) 0%,
      rgba(252, 194, 1, 0.8) 100%
    );
  }
  .heading-home-2 {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInbottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      rgba(58, 57, 56, 0.8) 0%,
      rgba(252, 194, 1, 0.8) 100%
    );
  }
  .heading-home-3 {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInbottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      rgba(58, 57, 56, 0.8) 0%,
      rgba(252, 194, 1, 0.8) 100%
    );
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto;
    width: 90%;
    margin-bottom: 10%;
  }
  #boxes {
    content: "";
    display: table;
    clear: both;
    margin: 0;
  }
  .div__boxes {
    float: left;
    margin: 0;
  }
  .modal-header .close {
    padding: 0;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }
  .header-home {
    height: 35vh;

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
  }
  .header-home-2 {
    height: 35vh;

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    position: relative;
    margin-right: 0;
  }
  .header-home-3 {
    height: 35vh;

    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    position: relative;
  }
}

.card {
  height: 100% !important;
}
.card-text {
  font-weight: 500;
  font-family: sans-serif;
  font-size: 1.3rem;
  max-height: 10rem;
  overflow: hidden;
}
.home-card-title {
  font-weight: lighter;
  font-size: 3rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(58, 57, 56, 0.8) 0%,
    rgba(252, 194, 1, 0.8) 100%
  );
  display: inline-block;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.home-card-title:hover {
  transform: skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
}
.home-card-body {
  height: auto;
  width: 36rem;
}
