@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.dash button {
  font-family: "Poppins", "PS Regular", sans-serif !important;
}

.dash h1.fw-400 {
  font-weight: 400;
}

.dash .shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* For mobile phones: */
.dash [class*="col-"] {
  margin: inherit 15px;
  padding: 0 1rem !important;
}
.dash .px-auto {
  padding: 0 5% !important;
}

.dash .col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.dash .col-3 {
  width: 25%;
}

.dash .col-4 {
  width: 33.33%;
}

.dash .col-5 {
  width: 41.66%;
}

.dash .col-6 {
  width: 50%;
}

.dash .col-7 {
  width: 58.33%;
}
.dash .col-8 {
  width: 66.66%;
}

.dash .col-9 {
  width: 75%;
}

.dash .col-10 {
  width: 83.33%;
}

.dash .col-11 {
  width: 91.66%;
}

.dash .col-12 {
  width: 100%;
}

@media only screen and (max-width: 920px) {
  /* For mobile phones: */
  .dash [class*="col-"] {
    margin-top: 15px;
    width: 100%;
  }

  .dash .px-0 {
    padding: 0 0.5rem !important;
  }

  .dash .visible-xs {
    display: block !important;
  }

  .dash .hidden-xs {
    display: none !important;
  }
}

.dash .hidden-xs {
  display: block;
}

.dash .visible-xs,
.dash .d-none {
  display: none;
}

.dash .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dash .img-fluid {
  width: 100%;
  height: auto;
}

.dash .text-center {
  text-align: center;
}

.dash a {
  color: inherit;
  text-decoration: none;
}

.dash .loader {
  z-index: 9999;
  position: fixed;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 8em;
  height: 8em;
  border: 0.7em solid rgba(0, 0, 0, 0.2);
  border-left: 0.7em solid #b70710;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.dash .loader-admin {
  position: absolute;
  height: calc(100vh - 70px);
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  align-self: center;
  text-align: center;
  display: flex;
}

.dash .loader-admin > div {
  width: 8em;
  height: 8em;
  border: 0.7em solid rgba(0, 0, 0, 0.2);
  border-left: 0.7em solid #b70710;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.dash .loader-more {
  width: 3em;
  height: 3em;
  border: 0.4em solid rgba(0, 0, 0, 0.2);
  border-left: 0.4em solid #b70710;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
  margin: 0 auto;
}

.dash .loader--hide {
  opacity: 0;
}
.dash th {
  text-align: center;
}
.dash {
  padding: -3em !important;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
